html {
	font-family:Microsoft JhengHei,monospace,arial,sans-serif,serif;
}

body {
	font-size: 10pt;
	display: flex;
	flex-flow: row wrap;
}

div {
	padding: 8px;
	flex: 1 100%;
}


#warning {
	font-family:Microsoft JhengHei,monospace,arial,sans-serif,serif;
	background:#FFFFFF;
	color: red;
	border: 0px red double;
	resize : none;
	font-size: 12pt;
	
	/* make auto-wrap */
	overflow: hidden; /*hide scrollbar*/
	/* min-height: 22px; */
    /* max-height: 88px; */
	
	/* make textarea at center*/
	width: 100%;
	text-align: center;
	/*
	display: block;
	margin-left:auto;
	margin-right:auto;
	*/

}

#output-log {
	font-family:Microsoft JhengHei,monospace,arial,sans-serif,serif;
	resize : none;
	vertical-align:top;
	width:100%;
}

#fwtable{
	width: 560px;
	border: 0.5px solid;
	border-collapse: collapse;
	
	/*set table to center*/
	margin-left:auto;
	margin-right:auto;
}
td{
	text-align: center;
	//text-align: left;
	width: 140px;
	//width: 25%;
	//border: 0.5px solid;
	/*border-collapse: collapse;*/
}


.wrap {
/* 可无需设置高度，靠图片高度 或者 文字的上下padding撑开高度 */
    /*border: 1px solid;*/
    /*width: 600px;*/
    text-align: left;
}
.wrap span{
	font-family:Microsoft JhengHei,monospace,arial,sans-serif,serif;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0; /* 撑开高度 */
	font-size: 20pt;
}
.wrap img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
